<% title("#{@username}'s Profile") %>

<% content_block("Repositories for #{@username}") do %>
  <ul>
    <% @repositories.each do |name| %>
      <li><%= link_to(name, repository_path(@username, name)) %></li>
    <% end %>
  </ul>
<% end %>