<% title("#{@user.name}'s Profile") %>

<% content_block("Repositories for #{@user.name}") do %>
  <ul>
    <% @user.repositories.each do |r| %>
      <li><%= link_to(r.name, repository_path(@user.name, r.name)) %></li>
    <% end %>
  </ul>
<% end %>