<% title(@repository.slug) %>

<% content_block("#{linked_repo_slug(@repository)}") do %>
  <p>
    <strong>Description:</strong> <%= @repository.description %>
  </p>
  <p><%= link_to('See on GitHub', @repository.url) %></p>
  <hr />
<% end %>
