<div class="event repo-activity">
  <h4>
    <%= link_to_user(issue.username) %> created an issue
    <%= time_ago_or_exact_date(issue.opened_at) %>
  </h4>
  <h3><%= issue.title %></h3>
  <p><%= truncate(issue.body, length: 250) %></p>
</div>