<div class="event repo-activity">
  <h4>
    <%= link_to_user(pull.username) %> sent a pull request
    <%= time_ago_or_exact_date(pull.requested_at) %>
  </h4>
  <h3><%= pull.title %></h3>
  <p><%= simple_format(pull.body, length: 250) %></p>
</div>