form {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  
  img.avatar {
    border-radius: 3px;
    float: left;
  }
  p {
    padding-left: 60px;
    width: 90%;
  }
}

.event {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  
  &.repo-activity {
    cursor: pointer;
    opacity: 0.5;
    
    & > * { display: none; }
    .meta, .title { display: block; }
    
    &:hover, &.focused { opacity: 1.0; }
    &.focused {
      cursor: default;
      
      & > * { display: block; }
    }
  }
  
  pre {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 3px;
    line-height: 1.5em;
    padding: 5px;
  }
  
  ol { list-style-position: inside; }
  
  &.notice {
    p { font-size: 14px; }
    
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}