form {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  
  img.avatar {
    border-radius: 3px;
    float: left;
  }
  p {
    padding-left: 60px;
    width: 90%;
  }
}

.event {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  
  &.repo-activity {
    cursor: pointer;
    opacity: 0.5;
    
    p { display: none; }
    
    &:hover, &.focused { opacity: 1.0; }
    &.focused {
      cursor: default;
      
      p { display: block; }
    }
  }
  
  &.notice {
    p { font-size: 14px; }
    
    img {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}